:root {
  --color1: #000000;
  --color2: white;
  --color3: #a67c52;
  --color4: #8c6239;
  --color5: #754c24;
  --color6: #d1cdc9;
  --color7: #603913;


  --textColor: var(--color1);
  --highlightText: var(--color7);
  --itemBackground: var(--color2);
  --borderColor: var(--color5);
  --footerColor: var(--color3);
  --headerColor: var(--color4);
  --secondaryTextColor: var(--color2);
  --secondaryItemBackground: var(--color5);
  --backgroundColor: var(--color6);
}


.App {
  align-items: center;
  background-color: var(--backgroundColor);
}

.App-body {
  color: var(--textColor);
  min-height: 100vh;
  width: 85%;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: var(--headerColor);
  color: var(--secondaryTextColor);
  width: 100%;
  height: 100px; 
}

h1 {
  margin: 0px;
  padding: 30px;
  padding-left: 50px;
}

h3 {
  margin: 0px;
}

.row {
  width: 100%
}

.left {
  text-align: left;
  align-items: left;
  justify-content: left;
}

.right {
  text-align: right;
  align-items: right;
  justify-content: right;
}
