:root {
  --black: #000000;
  --white: white;
  --color1: #6A9A77;
  --color2: #4a7856;
  --color3: #8a9bae;
  --color4: #E0E0E0;
  --color5: #3d6147;
  --color6: #de4a4a;


  --textColor: var(--black);
  --highlightText: var(--color5);
  --itemBackground: var(--white);
  --borderColor: var(--color2);
  --footerColor: var(--color1);
  --headerColor: var(--color2);
  --secondaryTextColor: var(--white);
  --secondaryItemBackground: var(--color3);
  --backgroundColor: var(--color4);
  --accentColor: var(--color6);
}

.container, .container-fluid {
  background-color: var(--backgroundColor);
}

::-webkit-scrollbar {
  background: transparent;
  height: 14px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

.App {
  align-items: center;
  background-color: var(--backgroundColor);
}

.App-body {
  color: var(--textColor);
  min-height: 100vh;
  max-width: 85%;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
}

.card {
  width: 200px; 
  min-height: 160px;
  border-radius: 10px;
}

.no-cards {
  min-height: 160px;
}

.bold {
  font-weight: bold;
}

.wide {
  width: 100%
}


.left {
  text-align: left;
  align-items: left;
  justify-content: left;
}

.right {
  text-align: right;
  align-items: right;
  justify-content: right;
}

.loading {
  position: absolute;
  top: 30%;
}

.icon {
  color: var(--accentColor);
}

.add-border {
  border: 2px solid red;
}

.w-0 {
  width: 0;
}