.item {
    text-align: center;    
    color: var(--secondaryTextColor);
    background-color: var(--secondaryItemBackground);

    height: 140px;
    width: 200px;
    
    border-radius: 20px;

    padding: 16px;
    margin: 12px;
    margin-top: 32px;
}

.image {
    height: 100px;
    width: 200px;
}

.recipe-table {
    margin-top: 18px;
}