.recipe_img {
    width: 100%;
    max-height: 300px;

    object-fit:cover;
    object-position: center;
}

.recipe_thumb {
    width: 100%;
    max-height: 70px;
    object-fit:cover;
    object-position: center;
}