.recipe_img {
    width: 100%;
    height: 200px;

    border-radius: 10px;
    border: solid 2px var(--borderColor);

    margin-bottom: 25px;
}

.list {
    border: solid 2px var(--borderColor);
    padding: 6px;
    padding-top: 4;
    padding-bottom: 12;
    background-color: var(--itemBackground);
}

.ingrs {
    width: 20%;
}

.dirs {
    width: 80%;
}

.ingredient > div {
    padding: 1px;
    padding-right: 5px;
    color: var(--textColor);
}

.quantity {
    width: 30%;
    text-align: right;
}

.ingr_name {
    width: 70%;
    text-align: left;
}

.dir_text {
    padding: 1px;
    padding-left: 10px;
}